/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include xl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: container;
    }
}

.content-spacing{
    margin-top: 30px;
    margin-bottom: 40px;

    @include lg{
    margin-top: 40px;
    margin-bottom: 50px;
    }
}

