/* =============
    Typography
============= */

// font-family: 'Halant', serif;
// font-family: 'Nunito Sans', sans-serif;

body {
    font-family: 'Nunito Sans', sans-serif;
}

.content-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: rem-calc(20);

    @include md {
        font-size: rem-calc(24);
    }
}